#page {
  height: 150vh;

  // https://www.sliderrevolution.com/resources/css-animated-background/

  .header {
    left: 12px;
    position: fixed;

    .scrollSpyContainer {
      display: flex;
      margin-left: 2rem;

      .spyItemClass {
        padding: 4px;
        font-size: 1.1rem;
      }

      .spyItemClass:hover {
        cursor: pointer;
      }

      .active {
        font-weight: bold;
        color: black;
      }

      .notActive {
        animation: color-change 15s infinite;
      }

      @keyframes color-change {
        0% {
          color: rgb(47, 46, 46);
        }
        50% {
          color: black;
          font-weight: 400;
        }
        100% {
          color: rgb(47, 46, 46);
        }
      }
    }
  }

  @media (max-width: 800px) {
    .header {
      padding: 30.95px 8.86333rem 1rem 0px;

      & p {
        font-size: 2.8rem;
      }
    }
  }

  @media (max-width: 550px) {
    .header {
      padding: 30.95px 0 1rem 0px;

      & p {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 500px) {
    .header {
      & p {
        font-size: 2.2rem;
      }
    }
  }

  #about {
    .fontChange {
      animation: color-change 15s infinite;
      font-weight: 300;
    }
  }
}
