$green: #9fd3c7;
#bracketAnimation_overlay {
  font-family: "Playfair Display", serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.wrap {
  perspective-origin: 50% 50%;
}

.svg {
  stroke: $green;
  position: fixed;
  bottom: 0vh;
  transform-style: preserve-3d;
  z-index: -100;
}

$total: 2;
@for $i from 1 through $total {
  $scale: random(2) - 0.4;

  .svg:nth-child(#{$i}) {
    left: 0.5 * 2% - 20;
    transform: scale(0.5 * $i - 0.1) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);
  }
}
